body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:50px
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a#contact-me {
  color:red;
  text-decoration:red;
  display:block;
  text-align: right;
}
a#contact-me:hover {
  color: brown;
  display: block;
}
h1 {
  text-align: center;
  display:block
}
div.header img {
  margin: auto;
  display: block;
}


div .game-stats {
  display: flex;
  justify-content: space-evenly;
}

i {
  cursor: pointer;
}

img.hidden {
  display: none;
}

img.open {
  max-width:80%;
  max-height: 80%;
  display: block;
  animation: magnify 0.15s
  /* animation: rotation 0.1s; */
  /* -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s; */
}

.deck {
  max-width:800px;
  min-width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #cc1002 0%, #cccd7e 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgb(46 61 73 / 50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.deck button.card {
  margin: 5px;
  height: 125px;
  width: 125px;
  background: rgb(24, 46, 90);
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgb(46 61 73 / 50%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes magnify {
  from {
    width: 0%
  }
  to {
    width: 100%;
  }
}

@keyframes reduce {
  from {
    width: 100%
  }
  to {
    width: 0%;
  }
}