body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:50px
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* div.container .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-start;
} */

div.navbar-nav {
  display: flex;
  align-items: center;
}
div.navbar-nav a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: white;
  text-decoration: white;
}
div.navbar-nav a:hover {
  color: #ffcb05;
  display: block;
}
a#contact-me {
  color:red;
  text-decoration: red;
  display:block;
  text-align: right;
}
a#contact-me:hover {
  color: brown;
  display: block;
}
h1 {
  text-align: center;
  display:block
}
div.header img {
  margin: auto;
  display: block;
}
div .game-stats {
  display: flex;
  justify-content: space-evenly;
}

.fa-retweet {
  cursor: pointer;
}

img.hidden {
  display: none;
}

img.open {
  max-width:80%;
  max-height: 80%;
  display: block;
  animation: magnify 0.15s
  /* animation: rotation 0.1s; */
  /* -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s; */
}

.deck {
  max-width:800px;
  min-width: 660px;
  min-height: 680px;
  background: linear-gradient(135deg, #ffcb05 0%, #2a75bb 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgb(46 61 73 / 50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.deck button.card {
  margin: 5px;
  height: 125px;
  width: 125px;
  background: rgb(24, 46, 90);
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgb(46 61 73 / 50%);
}
div.average-rating {
  text-align: center;
  margin: 5%;
}
div.reviews-container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
div.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px
}
div.email, div.phone {
  margin: 10px
}
div.email span, div.phone span {
  margin: 10px;
  font-size: larger;
  font-style: italic;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes magnify {
  from {
    width: 0%
  }
  to {
    width: 100%;
  }
}

@keyframes reduce {
  from {
    width: 100%
  }
  to {
    width: 0%;
  }
}