body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div#root div.container {
  display: grid;
}

nav.navbar {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

div.navbar-nav {
  display: flex;
  align-items: center;
  border-radius: 1rem;
}
div.navbar-nav a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: white;
  text-decoration: white;
}
div.navbar-nav a:hover {
  color: #ffcb05;
  display: block;
}
a#contact-me {
  color: red;
  text-decoration: red;
  display: block;
  text-align: right;
  margin-left: auto;
  width: fit-content;

  @media (max-width: 768px) {
    margin-right: 1rem;;
  }
}
a#contact-me:hover {
  color: brown;
  display: block;
  text-align: right;
  margin-left: auto;
  width: fit-content;
}
h1 {
  text-align: center;
  display: block;
}
header.header .logo {
  height: 99px;
  img {
    margin: auto;
    display: block;
  }
}
div.game-stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  min-width: 340px;
  max-width: 1000px;
  margin-inline: auto;

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}

.moves {
  font-weight: bold;
}

.fa-retweet {
  cursor: pointer;
  @media (max-width: 768px) {
    scale: 0.75;
  }
  
}

img.hidden {
  display: none;
}

img.open {
  max-width: 90%;
  max-height: 90%;
  display: block;
  animation: magnify 0.15s;
}

.deck {
  margin: 1.125rem auto;
  max-width: 800px;
  min-width: 350px;
  min-height: 456px;
  padding: 28px;
  background: linear-gradient(135deg, #ffcb05 0%, #2a75bb 100%);
  border-radius: 15px;
  box-shadow: 10px 13px 18px 5px rgb(48 62 75 / 40%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  @media (max-width: 768px) {
    padding: 16px;
    gap: 0.5rem;
    min-height: 376px;
  }
}

.deck button.card {
  height: 125px;
  width: 125px;
  background: rgb(24, 46, 90);
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgb(46 61 73 / 50%);

  @media (max-width: 512px) {
    height: 80px;
    width: 80px;
  };

  @media (min-width: 513px) and (max-width: 768px) {
    height: 100px;
    width: 100px;
  };
}
div.average-rating {
  text-align: center;
  margin: 5%;
}
div.filter-reviews div.col-2 {
  width: 36%;
}
div.reviews-container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
div.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
div.email,
div.phone {
  margin: 10px;
}
div.email span,
div.phone span {
  margin: 10px;
  font-size: larger;
  font-style: italic;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes magnify {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes reduce {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
